[submodule "packages/decode-aac/lib/faad2"]
	path = packages/decode-aac/lib/faad2
	url = https://github.com/knik0/faad2.git
[submodule "packages/decode-wma/lib/rockbox-wma"]
	path = packages/decode-wma/lib/rockbox-wma
	url = https://github.com/xOpenLee/wmaDecode.git
[submodule "packages/decode-amr/lib/opencore-amr"]
	path = packages/decode-amr/lib/opencore-amr
	url = https://git.code.sf.net/p/opencore-amr/code
[submodule "packages/decode-opus/lib/opus"]
	path = packages/decode-opus/lib/opus
	url = https://github.com/xiph/opus.git
[submodule "packages/decode-ac3/lib/liba52"]
	path = packages/decode-ac3/lib/liba52
	url = https://code.videolan.org/videolan/liba52.git
[submodule "packages/decode-dts/lib/libdca"]
	path = packages/decode-dts/lib/libdca
	url = https://code.videolan.org/videolan/libdca.git
[submodule "packages/decode-wavpack/lib/wavpack"]
	path = packages/decode-wavpack/lib/wavpack
	url = https://github.com/dbry/WavPack.git
[submodule "lib/ffmpeg"]
	path = lib/ffmpeg
	url = https://github.com/FFmpeg/FFmpeg.git
	branch = release/7.1
[submodule "packages/decode-mpc/lib/libmpc"]
	path = packages/decode-mpc/lib/libmpc
	url = https://github.com/evpobr/libmpc.git
[submodule "packages/decode-mod/lib/openmpt"]
	path = packages/decode-mod/lib/openmpt
	url = https://github.com/OpenMPT/openmpt.git
